@import 'variables';

:host {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.library__content {
  position: relative;
  flex-grow: 1;
  padding: 0 16px;
  margin-bottom: 48px;
}

.header {
  min-height: auto;
  margin-bottom: 48px;
}

.header__row {
  padding: 0 16px;
}

.header__row--first {
  height: 48px;
  padding: 0 8px;
}

.header__row--second {
  height: 34px;

  overflow: auto;
  overflow-y: hidden
}

.header__logo {
  padding: 0 8px;
  margin-bottom: 0;

  text-decoration: none;
  cursor: pointer;
}

.header__spacer-2 {
  flex-grow: 1;
}

.header__spacer-1 {
  flex-grow: 0;
}

@media ($tablet-width) {
  .library__content {
    padding: 0 24px;
    margin-bottom: 72px;
  }

  .header {
    margin-bottom: 72px;
  }

  .header__row {
    padding: 0 24px;
  }

  .header__row--first {
    height: 56px;
    padding: 0 16px;
  }

  .header__row--second {
    height: 36px;
  }
}
@media ($desktop-width) {
  .library__content {
    padding: 0 32px;
  }

  .header__row {
    padding: 0 32px;
  }

  .header__row--first {
    padding: 0 24px;
    height: 64px;
  }

  .header__spacer-2 {
    flex-grow: 0;
    width: 24px;
  }

  .header__spacer-1 {
    flex-grow: 1;
  }
}
