@import 'variables';

.submenu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.submenu__link {
  margin: 0;
  padding: 0 16px;

  line-height: 32px;
  letter-spacing: 0.5px;
  text-decoration: none;

  cursor: pointer;
}

.submenu__link-line:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
}

@media ($tablet-width) {
  .submenu {
    justify-content: center;
  }

  .submenu__link {
    line-height: 36px;
  }
}
