//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './theme/theme.scss';
@import './theme/custom-component-themes.scss';

// Be sure that you only ever include this mixin once!
$config: mat-typography-config();

@include mat-core($config);
@include angular-material-theme($theme);

@include custom-components-theme($theme);
@include custom-components-typography($config);

/* You can add global styles to this file, and also import other style files */

.he-theme {
  $config-he: mat-typography-config($font-family: 'Rubik');

  //@include mat-list-typography($config-he);
  @include mat-button-typography($config-he);
  @include mat-menu-typography($config-he);

  @include custom-components-typography($config-he);
}

@import './theme/simplebar.css';

html {
  overflow-y: scroll;
}
